<div class="row mb-3">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :product_id %>
      <%= f.collection_select :product_id, @products, :id, :name, { prompt: 'Select Product' }, { class: 'form-control' } %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :unit_price, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-2 d-flex align-items-end">
    <%#= link_to_remove_association "Remove", f, class: "btn btn-outline-danger btn-sm" %>
  </div>
</div>
