<h1></h1>

<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer</th>
      <th>Status</th>
      <th>Total Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer.name %></td> <!-- Assuming you have a customer associated with each order -->
        <td><%= order.status %></td>
        <td><%= order.total_amount %></td>
        <td>
          <%= link_to 'View Details', order %>
          <!-- Add other action links as needed -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Order', new_order_path %>
